/* parte superior */
.encabezado{
 
  background: #f9f9f9;
  color: rgb(12, 1, 3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 3px;
  position: fixed;
  top: 0;
  width: 99%;
  z-index: 1000;
}

.titulo_principal{
 font-family: "roboto", sans-serif;
 text-align: center;
  color: #0b6eb9;
  align-items: center;
  flex: 1;
}

.titulo_principal h1 {
  font-family: sans-serif;
  font-size: 40px;
  font-weight: 700;
  
}
h1, h2{
  text-align: center;
}
.titulo_principal h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 550;
  color:#2e8b57;
}

.menu_principal ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
   
}
.menu_principal a {
    font-family: sans-serif;
    color:#0b6eb9 ;
    padding: 8px 12px;
    white-space: nowrap;
    text-decoration: none;
    font-weight: 600

}
.menu_principal a:hover{
    text-decoration: underline;
}

/*Portada*/

.portada {
  min-height: 90vh;
  background: url("https://st.depositphotos.com/1915897/4148/i/950/depositphotos_41483009-stock-photo-waiting-area-and-surgery-rooms.jpg") no-repeat center top;
  background-color:#f4f4f4;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 80px; 
  
}


.portada h3, .portada p {
  background: rgb(217, 238, 244);
  padding: 10px 15px;
  border-radius: 8px;

  color: #333333;
  font-family: 'Open Sans', sans-serif;
}

.portada h3 {
  font-size: 36px;
  margin-bottom: 15px;
  font-weight: 600;
}

.portada p {
  font-size: 18px;
  max-width: 500px;
  margin: 0 auto;
}

/* turnos */
.Turnos {
  position: relative;
  z-index: 2;
  display: inline-block;
  padding: 12px 25px;
  margin-top: 30px;
  background: #ff9800;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.Turnos:hover {
  background: #e68a00;
}

/* Especialidades */
.especialidades {
  background: #f4f4f4;
  text-align: center;
  padding: 50px 20px;
}

.especialidades h3 {
  margin-bottom: 50px;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  color: #24495c;
}

.seccion_especialidades a {
  margin: 10px;
  padding: 12px 20px;
  display: inline-block;
  color: #070500;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border: none;
  
}

.seccion_especialidades a:hover {
  background: #00897b;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  text-decoration: underline;
  text-underline-offset: 3px;
}


/*Footer*/
.pie_de_portada {
  
  background:#d4e7f3;
  color: #003366;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;

}
.pie_de_portada a {
  
  text-decoration: none;
}

.pie_de_portada a:hover {
  text-decoration: underline;
}
